<div>
	<app-header (logOut)="logOut()"></app-header>
	<div class="paddingBottom2">
		<div *ngIf="messageShow">
			<div class="col-sm-12 col-md-2 col-xl-4 pull-left"></div>
			<div class="col-sm-12 col-md-8 col-xl-4 pull-left">
				<div *ngIf="messageType === 'success'" class="alert alert-success textAlignCenter">{{messageValue}}</div>
				<div *ngIf="messageType === 'error'" class="alert alert-danger"><strong>UWAGA</strong> {{messageValue}}</div>
			</div>
		</div>
		<div class="col-sm-12 pull-left"></div>
		<div class="col-sm-12 col-md-1 col-xl-2 pull-left"></div>
		<div class="col-sm-12 col-md-9 col-xl-8 pull-left marginTop1 bgrContent borderRadius10">
			<div class="col-sm-12 paddingBottom2 paddingTop2">
				<h2>Manager produktów</h2>
			</div>
			<div class="col-sm-12 pull-left">
				<div *ngIf="category && manufactorer" class="col-sm-12 pull-left paddingTop2">
					<div class="col-sm-12 col-xl-7 pull-left">
						<div class="col-sm-12 pull-left paddingBottom4">
							<h4>Wyszukiwanie po nazwie</h4>
						</div>
						<div class="col-sm-12 col-xl-4 pull-left paddingBottom4 marginTop015">
							<h4>Kategoria</h4>
						</div>
						<div class="col-sm-12 col-xl-8 pull-right paddingBottom4">
							<select [(ngModel)]="currentCategory" (change)="namePrepare()" [disabled]="children || inputDisabled" class="form-control">
								<option *ngFor="let single of category" [ngValue]="single.id">{{single.metaTitle}}</option>
							</select>
						</div>
						<div class="col-sm-12 pull-left"></div>
						<div class="col-sm-12 col-xl-4 pull-left paddingBottom4 marginTop015">
							<h4>Producent</h4>
						</div>
						<div class="col-sm-12 col-xl-8 pull-right paddingBottom4">
							<select [(ngModel)]="currentManufactorer" (change)="namePrepare()" [disabled]="children || inputDisabled" class="form-control"> 
								<option *ngFor="let single of manufactorer" [ngValue]="single.id">{{single.name}}</option>
							</select>
						</div>
						<div class="col-sm-12 pull-left"></div>
						<div class="col-sm-12 col-xl-4 pull-left paddingBottom4 marginTop015">
							<h4>Nazwa</h4>
						</div>
						<div class="col-sm-12 col-xl-8 pull-right paddingBottom4">
							<input (keyup)="namePrepare()" [(ngModel)]="currentName" #name="ngModel" [disabled]="children || inputDisabled" id="name" name="name" minlength="4" class="form-control" placeholder="Podaj nazwę" />
							<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger textAlignCenter marginTop3">
								<div *ngIf="name.errors.minlength">Wpisz min. 4 znaki!</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-xl-5 pull-right">
						<div class="col-sm-12 pull-right paddingBottom4">
							<h4 style="text-align: right">Wyszukiwanie po ID</h4>
						</div>
						<div class="col-sm-12 col-xl-7 pull-right paddingBottom4">
							<input (keyup)="idSearch()" [(ngModel)]="currentId" [disabled]="children || inputDisabled" class="form-control textAlignCenter" placeholder="Podaj numer ID" />
							<div *ngIf="error.id" class="alert alert-danger textAlignCenter marginTop3">Podaj liczbę, Łośku!</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-2 col-xl-3 pull-left"></div>
		<div *ngIf="children" class="paddingBottom2">
			<div class="col-sm-12 pull-left"></div>
			<router-outlet></router-outlet>
		</div>
		<div *ngIf="!children && !noModified">
			<modified (deleteRow)="deleteModified($event)" [modified]="modifiedList" [modifiedEmpty]="modifiedEmpty" [modifiedSearch]="modifiedSearch" [url]="url"></modified>
		</div>
		<div *ngIf="!children && noModified">
			<product-list (deleteList)="hideList()" (refreshList)="namePrepare()" [emptySearch]="emptySearch" [productList]="productList" [url]="url" [imagePath]="imagePath" [listLength]="listLength"></product-list>
		</div>
	</div>
</div>
