<div class="col-sm-12 col-md-1 col-xl-2 pull-left"></div>
<div class="col-sm-12 col-md-9 col-xl-8 pull-left bgrContent borderRadius10 marginTop4 marginBottom30 paddingTop20px paddingBottom20px">
	<div class="col-sm-12 pull-left">
		<div *ngIf="error">
			<h2>W bazie nie znaleziono produktu o podanym numerze ID!</h2>
		</div>
		<div *ngIf="loading || (!error && !product.id)">
			<h2>Ładowanie danych - proszę czekać...</h2>
		</div>
		<div *ngIf="!loading && !error && product.id">
			<div class="paddingBottom20px">
				<h2><a href="{{url}}{{product.id}}-{{product.linkRewrite}}.html" target="_blank">Pełna edycja produktu ID: {{product.id}}</a></h2>
			</div>
			<div class="col-sm-12 pull-left">
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Nazwa:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<input (keyup)="saveAllow()" [(ngModel)]="product.name" [disabled]="inputDisabled" class="form-control" placeholder="Podaj nazwę" />
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Krótki opis:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<input (keyup)="saveAllow()" [(ngModel)]="product.descriptionShort" [disabled]="inputDisabled" class="form-control" placeholder="Podaj krótki opis" />
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Pełny opis:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<textarea rows="6" cols="50" (change)="saveAllow()" [(ngModel)]="product.description" [disabled]="inputDisabled" class="form-control" placeholder="Podaj pełny opis"></textarea>
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Link:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<input (keyup)="saveAllow()" [(ngModel)]="product.linkRewrite" [disabled]="inputDisabled" class="form-control" placeholder="Podaj link" />
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Meta-tytuł:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<input (keyup)="saveAllow()" [(ngModel)]="product.metaTitle" [disabled]="inputDisabled" class="form-control" placeholder="Podaj meta tytuł" />
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Meta-opis:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<input (keyup)="saveAllow()" [(ngModel)]="product.metaDescription" [disabled]="inputDisabled" class="form-control" placeholder="Podaj meta opis" />
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Tagi:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<input (keyup)="saveAllow()" [(ngModel)]="product.tagString" [disabled]="inputDisabled" class="form-control" placeholder="Podaj tagi produktu (oddzielone przecinkiem)" />
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Ilość:</label>
					</div>
					<div class="col-sm-12 col-md-3 pull-left">
						<input type="number" min="0" (change)="quantityHandle()" (keyup)="quantityHandle()" [(ngModel)]="product.quantityBoth" [disabled]="inputDisabled" class="form-control textAlignCenter" placeholder="Podaj ilość w obu bazach" />
					</div>
					<div class="col-sm-12 col-md-6 pull-left"></div>
				</div>
				<div *ngIf="product.quantity.old !== product.quantity.new" class="col-sm-12 pull-left alert alert-danger paddingBottom05">
					<div class="col-sm-12 pull-left textAlignCenter" style="padding-bottom: 10px;">
	  					<strong>Uwaga!</strong> Ilość produktu w nowej bazie to: {{product.quantity.new}}
	  				</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Cena (SP):</label>
					</div>
					<div class="col-sm-12 col-md-3 pull-left">
						<input (keyup)="saveAllow()" [(ngModel)]="product.price.old" [disabled]="inputDisabled" class="form-control textAlignCenter" placeholder="Podaj cenę (SP)" />
					</div>
					<div class="col-sm-12 col-md-6 pull-left"></div>
				</div>
				<div *ngIf="product.discount.old && product.priceReal.old" class="col-sm-12 pull-left alert alert-danger paddingBottom05">
					<div class="col-sm-12 pull-left textAlignCenter">
	  					<strong>Uwaga!</strong> Produkt z rabatem: {{product.discount.old.reduction}}zł. Cena realna to: {{product.priceReal.old}}zł.
	  				</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Cena (NP):</label>
					</div>
					<div class="col-sm-12 col-md-3 pull-left">
						<input (keyup)="saveAllow()" [(ngModel)]="product.price.new" [disabled]="inputDisabled" class="form-control textAlignCenter" placeholder="Podaj cenę (NP)" />
					</div>
					<div class="col-sm-12 col-md-6 pull-left"></div>
				</div>
				<div *ngIf="product.discount.new && product.priceReal.new" class="col-sm-12 pull-left alert alert-danger paddingBottom05">
					<div class="col-sm-12 pull-left textAlignCenter">
	  					<strong>Uwaga!</strong> Produkt z rabatem: {{product.discount.new.reduction}}%. Cena realna to: {{product.priceReal.new}}zł.
	  				</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Producent:</label>
					</div>
					<div class="col-sm-12 col-md-3 pull-left">
						<select (change)="saveAllow()" [(ngModel)]="product.manufactorer" [disabled]="inputDisabled" class="form-control"> 
							<option *ngFor="let single of manufactorer" [ngValue]="single.id">{{single.name}}</option>
						</select>
					</div>
					<div class="col-sm-12 col-md-6 pull-left"></div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Aktywność:</label>
					</div>
					<div class="col-sm-12 col-md-3 pull-left">
						<select (change)="saveAllow()" [(ngModel)]="product.active" [disabled]="inputDisabled" class="form-control"> 
							<option *ngFor="let single of active" [ngValue]="single.id">{{single.name}}</option>
						</select>
					</div>
					<div class="col-sm-12 col-md-6 pull-left"></div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom1">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Stan:</label>
					</div>
					<div class="col-sm-12 col-md-3 pull-left">
						<select (change)="saveAllow()" [(ngModel)]="product.condition" [disabled]="inputDisabled" class="form-control"> 
							<option *ngFor="let single of condition" [ngValue]="single.id">{{single.name}}</option>
						</select>
					</div>
					<div class="col-sm-12 col-md-6 pull-left"></div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label cursorPointer (click)="showOrHide('categories')">Kategorie:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<div *ngIf="!categories">
							<label>Ilość aktywnych kategorii: {{product.categoryCount}}</label>
						</div>
						<div *ngIf="categories">
							<div *ngFor="let single of product.categories" class="paddingBottom05">
								<input type="checkbox" (change)="saveAllow()" name="{{single.id}}" [(ngModel)]="single.checked"><span class="marginLeft1">{{single.metaTitle}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom05">
					<div class="col-sm-12 col-md-3 pull-left">
						<label cursorPointer (click)="showOrHide('photos')">Zdjęcia:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<div *ngIf="!photos">
							<label>Ilość zdjęć: {{product.imageCount}}</label>
						</div>
						<div *ngIf="photos">
							<img *ngFor="let single of product.images" src="{{single}}" height="125" width="125">
						</div>
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom1">
					<div class="col-sm-12 col-md-3 pull-left">
						<label>Akcje:</label>
					</div>
					<div class="col-sm-12 col-md-9 pull-left">
						<input type="checkbox" (change)="saveAllow()" name="productUpdated" [(ngModel)]="product.productUpdated" [disabled]="inputDisabled"><span class="marginLeft1">Zapisz produkt jako podmieniony</span><br>
						<input type="checkbox" (change)="saveAllow()" name="deleteImages" [(ngModel)]="product.deleteImages" [disabled]="inputDisabled"><span class="marginLeft1">Usuń obecne zdjęcia</span>
					</div>
				</div>
				<div class="col-sm-12 pull-left paddingBottom1">
					<div class="col-sm-6 col-md-2 pull-right">
						<button 
							type="button"  
							[disabled]="saveDisabled || inputDisabled" 
							class="btn btn-primary btn-block"
							id="saveEdition">Zapisz</button>
					</div>
					<div class="col-sm-6 col-md-2 pull-right">
						<button type="button" (click)="goBack()" class="btn btn-danger btn-block">Powrót</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
