<div>
    <app-header 
      (logOut)="logOut()"
      [name]="self">
    </app-header>
    <div class="paddingBottom2">
        <app-message
          [messageShow]="messageShow"
          [messageType]="messageType"
          [messageValue]="messageValue">
        </app-message>
    </div>
    <div class="col-sm-12 pull-left"></div>
    <div class="col-sm-12 col-md-1 col-xl-2 pull-left"></div>
    <div class="col-sm-12 col-md-9 col-xl-8 pull-left marginTop1 bgrContent borderRadius10">
          <delivery-header
            (openModal)="open($event)"
            [loading]="loading">
          </delivery-header>
    </div>
    <div class="col-sm-2 pull-left"></div>
    <delivery-list 
        (refreshList)="refresh()" 
        [deliveryList]="deliveries" 
        [amount]="amount" 
        [automatic]="automatic" 
        [empty]="empty" 
        [loading]="loading" 
        (setSelected)="handleSelected($event)">
    </delivery-list>
</div>
