<div class="paddingTop10">
  <div class="col-sm-12 pull-left"></div>
  <div [ngClass]="{'col-md-1': action !== 'voucher', 'col-md-2': action === 'voucher'}" class="col-sm-12 pull-left"></div>
	<div [ngClass]="{'col-md-10': action !== 'voucher', 'col-md-8': action === 'voucher'}" class="col-sm-12 pull-left bgrContent borderRadius10 marginTop4 marginBottom30 paddingTop20px paddingBottom20px">
    <div *ngIf="searching">
      <div class="col-sm-12 pull-left">
        <h3>{{config.waiting}}</h3>
        <ngx-loading [show]="searching" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      </div>
    </div>
    <div *ngIf="!searching && empty">
      <div class="col-sm-12 pull-left">
        <h3>Brak podanego numeru zamówienia!</h3>
      </div>
    </div>
    <div *ngIf="!searching && !empty">
      <div *ngIf="action === 'voucher'">
        <div class="col-sm-12 pull-left paddingTop2">
          <h3>Wyniki wyszukiwania kuponów dla Klienta: {{customer.firstname}} {{customer.lastname}}</h3>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-12 pull-left paddingTop2">
            <div class="col-sm-4 pull-left paddingBottom1">
              <label>Adres e-mail:</label>
            </div>
            <div class="col-sm-8 pull-left paddingBottom1">
              <h4>{{customer.email}}</h4>
            </div>
            <div class="col-sm-4 pull-left paddingBottom1">
              <label>Numer ostatniego kuponu:</label>
            </div>
            <div class="col-sm-8 pull-left paddingBottom1">
              <h4>{{lastVoucher}}</h4>
            </div>
            <div *ngIf="lastVoucher !== 0">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="col-xs-2 textAlignCenter">Numer ID</th>
                    <th class="col-xs-2 textAlignCenter">Referencja</th>
                    <th class="col-xs-2 textAlignCenter">Koszt produktów</th>
                    <th class="col-xs-2 textAlignCenter">Koszt transportu</th>
                    <th class="col-xs-2 textAlignCenter">Data</th>
                    <th class="col-xs-2 textAlignCenter">Numer kuponu</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of voucher">
                    <th class="col-xs-2 textAlignCenter">
                      {{item.id}}
                    </th>
                    <th class="col-xs-2 textAlignCenter">
                      {{item.reference}}
                    </th>
                    <th class="col-xs-2 textAlignCenter">
                      {{item.totalProduct}} zł
                    </th>
                    <th class="col-xs-2 textAlignCenter">
                      {{item.totalShipping}} zł
                    </th>
                    <th class="col-xs-2 textAlignCenter">
                      {{item.dateAdd}}
                    </th>
                    <th class="col-xs-2 textAlignCenter">
                      <div *ngIf="item.voucherNumber !== 6">
                        {{item.voucherNumber}}
                      </div>
                      <div *ngIf="item.voucherNumber === 6">
                        <p>Rabat</p>
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!deliveryNumber" class="col-sm-12 pull-left paddingTop2">
                <div class="col-sm-6 col-md-2 pull-left">
                  <label>Number kuponu (mail):</label>
                </div>
                <div class="col-sm-6 col-md-2 pull-left">
                  <input [(ngModel)]="lastVoucher" class="form-control textAlignCenter" placeholder="Podaj numer kuponu" />
                </div>
                <div class="col-sm-6 col-md-4  col-xl-2 pull-left">
                  <a href="{{config.url}}orders/old/{{id}}/mail/{{token}}?action=voucher&result=display&voucherNumber={{lastVoucher}}" target="_blank" class="btn btn-info btn-block">Zobacz treść maila</a>
                </div>
                <div class="col-sm-6 col-md-3 col-xl-2 pull-left">
                  <button type="button" (click)="send('voucher')" class="btn btn-primary btn-block">Wyślij maila</button>
                </div>
                <div class="col-sm-6 col-md-2 pull-left">
                  <button type="button" (click)="goBack()" class="btn btn-warning btn-block">Powrót</button>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
      <div *ngIf="action === 'even'">
        <div class="col-sm-12 pull-left paddingTop2">
          <h3>Wyrównanie ilości produktów - zamówienie nr {{id}} - {{dbName}}</h3>
        </div>
        <div class="col-sm-12 pull-left paddingTop2 paddingBottom2">
          <h4>SZCZEGÓŁY:</h4>
        </div>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th class="col-xs-1">Miniatura</th>
            <th class="col-xs-1 textAlignCenter">Numer ID</th>
            <th class="col-xs-4 textAlignCenter">Nazwa</th>
            <th class="col-xs-2 textAlignCenter">Ilość (zakup)</th>
            <th class="col-xs-2 textAlignCenter">Ilość ({{dbShortcut[0]}})</th>
            <th class="col-xs-1 textAlignCenter">Przed ({{dbShortcut[1]}})</th>
            <th class="col-xs-1 textAlignCenter">Po ({{dbShortcut[1]}})</th>
            <th class="col-xs-1 textAlignCenter">Akcja/ Linki</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of evenDetails">
            <th class="col-xs-1">
              <img [src]="item.cover" height="120" width="120" style="border: 1px solid; border-color: #C8C8C8; border-radius: 5px;">
            </th>
            <th class="col-xs-1 textAlignCenter" style="padding-top: 3.5%;">
              {{item.id}}
            </th>
            <th class="col-xs-4 textAlignCenter" style="padding-top: 3.5%;">
              <a href="{{serverPath}}{{item.id}}-{{item.linkRewrite}}.html" target="_blank">{{item.name}}</a>
            </th>
            <th class="col-xs-4 textAlignCenter" style="padding-top: 3.5%;">
              {{item.ordered}}
            </th>
            <th class="col-xs-4 textAlignCenter" style="padding-top: 3.5%;">
              {{item.baseDbQuantity}}
            </th>
            <th class="col-xs-4 textAlignCenter" style="padding-top: 3.5%;">
              {{item.quantityBeforeChange}}
            </th>
            <th class="col-xs-4 textAlignCenter" style="padding-top: 3.5%;">
              {{item.quantityAfterChange}}
            </th>
            <th class="col-xs-4 textAlignCenter" style="padding-top: 1%;">
             <p>{{item.modification}}</p>
              <p><a href="#/products/edition/{{item.id}}">Edycja</a></p>
              <p><a href="#/products/history/{{item.id}}">Historia</a></p>
            </th>
          </tr>
          </tbody>
        </table>
        <div class="col-sm-12 pull-left paddingTop2 paddingBottom2">
          <div class="col-sm-6 col-md-2 pull-left">
            <button type="button" (click)="goBack()" class="btn btn-warning btn-block">Usuń</button>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 pull-left">
            <button type="button" (click)="setOrder()" class="btn btn-primary btn-block">Powrót do zamówienia</button>
          </div>
        </div>
      </div>
      <div *ngIf="action === 'discount' || action ===  'mail' || action === 'order'">
        <div class="col-sm-12 pull-left paddingTop1">
          <h3>Szczegóły zamówienia nr {{orderId}} ({{orderDetails.reference}})</h3>
        </div>
        <div class="col-sm-12">
        <div class="col-sm-12 pull-left paddingTop1">
            <div class="col-sm-4 pull-left">
              <label>Klient:</label>
            </div>
            <div class="col-sm-8 pull-left">
              <h4>{{customer.firstname}} {{customer.lastname}}</h4>
            </div>
        </div>
        <div [ngClass]="{'paddingBottom1': action === 'discount'}"class="col-sm-12 pull-left paddingTop1">
            <div class="col-sm-4 pull-left">
              <label>Email:</label>
            </div>
            <div class="col-sm-8 pull-left">
              <h4>{{customer.email}}</h4>
            </div>
        </div>
          <div *ngIf="action !== 'discount'">
            <div class="col-sm-12 pull-left paddingTop1">
            <div class="col-sm-4 pull-left">
              <label>Kwota zamówienia: </label>
            </div>
            <div class="col-sm-8 pull-left">
              <h4>{{orderDetails.totalPaid | number:'.2-2'}} zł</h4>
            </div>
          </div>
            <div *ngIf="action === 'mail'" class="col-sm-12 pull-left paddingTop1">
              <div class="col-sm-4 pull-left">
                <label>Forma płatności:</label>
              </div>
              <div class="col-sm-8 pull-left">
                <h4>{{orderDetails.payment}}</h4>
              </div>
            </div>
            <div class="col-sm-12 pull-left paddingTop1">
              <div class="col-sm-4 pull-left">
                <label>Kwota porto:</label>
              </div>
              <div class="col-sm-8 pull-left">
                <h4>{{orderDetails.totalShipment | number:'.2-2'}} zł</h4>
              </div>
            </div>
          </div>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="col-xs-1">Miniatura</th>
            <th class="col-xs-1 textAlignCenter">Numer ID</th>
            <th class="col-xs-4 textAlignCenter">Nazwa</th>
            <th class="col-xs-2 textAlignCenter">Na stanie</th>
            <th class="col-xs-2 textAlignCenter">Na stanie<br/>(drugi sklep)</th>
            <th class="col-xs-1 textAlignCenter">Zamówione</th>
            <th class="col-xs-1 textAlignCenter">Opcje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cardDetails">
            <th class="col-xs-1">
              <img [src]="item.cover" height="100" width="100" style="border: 1px solid; border-color: #C8C8C8; border-radius: 5px;">
            </th>
            <th class="col-xs-1 textAlignCenter" style="padding-top: 4.3%;">
              {{item.productId}}
            </th>
            <th class="col-xs-4 textAlignCennter" style="padding-top: 4.3%;">
              <a href="{{serverPath}}{{item.productId}}-{{item.linkRewrite}}.html" target="_blank">{{item.productName}}</a>
            </th>
            <th class="col-xs-2 textAlignCenter" style="padding-top: 4.3%;">
              {{item.quantity.current}}
            </th>
            <th class="col-xs-2 textAlignCenter" style="padding-top: 4.2%;">
              {{item.quantity.toUpdate}}
            </th>
            <th class="col-xs-1 textAlignCenter" style="padding-top: 4%;">
              {{item.productQuantity}}
            </th>
            <th class="col-xs-1" style="padding-top: 3.5%;">
              <button type="button" (click)="setEdition(item.productId)" class="btn btn-primary btn-block">Pełna edycja</button>
            </th>
          </tr>
        </tbody>
      </table>
          <div *ngIf="action === 'discount'" class="col-sm-12 pull-left paddingTop2">
            <div class="col-sm-3 pull-left"></div>
            <div class="col-sm-6 pull-left">
              <h3 class="textAlignLeft">PODSUMOWANIE:</h3>
              <div class="paddingTop2">
                <div class="col-sm-6 pull-left">
                  <label>Suma wszystkich produktów:</label>
                </div>
                <div class="col-sm-6 pull-left">
                  <p>{{discount.totalProduct}} zł</p>
                </div>
              </div>
              <div class="paddingTop2">
                <div class="col-sm-6 pull-left">
                  <label>Suma po rabacie:</label>
                </div>
                <div class="col-sm-6 pull-left">
                  <p style="color: rgb(220, 20, 60)">{{discount.totalProductDiscount}} zł</p>
                </div>
              </div>
              <div class="paddingTop2">
                <div class="col-sm-6 pull-left">
                  <label>Suma produktów z wysyłką:</label>
                </div>
                <div class="col-sm-6 pull-left">
                  <p>{{discount.totalPaid}} zł</p>
                </div>
              </div>
              <div class="paddingTop2">
                <div class="col-sm-6 pull-left">
                  <label>Suma z wysyłką po rabacie:</label>
                </div>
                <div class="col-sm-6 pull-left">
                  <p style="color: rgb(220, 20, 60)">{{discount.totalPaidDiscount}} zł</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 pull-left"></div>
           </div>
          <div *ngIf="action === 'discount'" class="col-sm-12 pull-left paddingTop2">
            <div class="col-sm-6 col-md-4  col-xl-2 pull-left">
              <a href="{{config.url}}orders/old/{{id}}/mail/{{token}}?action=discount&result=display" target="_blank" class="btn btn-info btn-block">Zobacz treść maila</a>
            </div>
            <div class="col-sm-6 col-md-4  col-xl-2 pull-left">
              <button type="button" (click)="send('discount')"  class="btn btn-primary btn-block">Wyślij maila</button>
            </div>
            <div class="col-sm-6 col-md-2 pull-left">
              <button type="button" (click)="goBack()" class="btn btn-warning btn-block">Powrót</button>
            </div>
          </div>
          <div *ngIf="action === 'mail'" class="col-sm-12 pull-left paddingTop2">
            <div class="col-sm-6 col-md-4  col-xl-2 pull-left">
              <a href="{{config.url}}orders/old/{{id}}/mail/{{token}}?action=undelivered&result=display" target="_blank" class="btn btn-info btn-block">Zobacz treść maila</a>
            </div>
            <div class="col-sm-6 col-md-4  col-xl-2 pull-left">
              <button type="button" (click)="send('mail')"  class="btn btn-primary btn-block">Wyślij maila</button>
            </div>
            <div class="col-sm-6 col-md-2 pull-left">
              <button type="button" (click)="goBack()" class="btn btn-warning btn-block">Powrót</button>
            </div>
          </div>
          <div *ngIf="action === 'order' && !deliveryNumber" class="col-sm-12 pull-left paddingTop2">
          <div class="col-sm-6 col-md-2 pull-left">
            <button type="button" (click)="goBack()" class="btn btn-warning btn-block">Powrót</button>
          </div>
          <div class="col-sm-6 col-md-4  col-xl-2 pull-left">
            <button type="button" (click)="setOrder('even')"  class="btn btn-primary btn-block">Wyrównaj ilości</button>
          </div>
          <div class="col-sm-6 col-md-4  col-xl-3 pull-left">
            <button type="button" (click)="setNumber()"  class="btn btn-primary btn-block">Prześlij numer przesyłki</button>
          </div>
        </div>
        <div *ngIf="action === 'order' && deliveryNumber" class="col-sm-12 pull-left paddingTop2 paddingBottom2">
          <div class="col-sm-6 col-md-6 pull-left paddingBottom2">
            <label>Wprowadź numer przesyłki</label>
          </div>
          <div class="col-sm-6 col-md-6 pull-left paddingBottom2">
            <input (keyup)="numberLength()" [(ngModel)]="number" class="form-control textAlignCenter" placeholder="Podaj numer przesyłki" />
          </div>
          <div class="col-sm-6 col-md-3 col-xl-2 pull-left">
            <button type="button" (click)="send('deliveryNumber')" [disabled]="tooShort" class="btn btn-primary btn-block">Wyślij numer</button>
          </div>
          <div class="col-sm-6 col-md-2 pull-left">
            <button type="button" (click)="setNumber()" class="btn btn-warning btn-block">Wróć</button>
          </div>
        </div>
        </div>
    </div>
  </div>
  <div [ngClass]="{'col-md-1': action !== 'voucher', 'col-md-2': action === 'voucher'}" class="col-sm-12 pull-left"></div>
</div>
