<div class="paddingTop2">
	<div class="col-xs-12 col-md-10 pull-left">
		<a *ngFor="let bookmark of bookmarks" 
			[ngClass]="{
				'active': name === bookmark.link, 
				'marginRight1px': bookmark.id !== 1, 
				'marginRight2px': bookmark.id === 1
			}"
			cursorPointer 
			routerLink="../{{ bookmark.link }}"
			[id]="bookmark.id"
			class="btn btn-info headerButton">
			{{ bookmark.name }}
		</a>
	</div>
	<div class="col-xs-12 col-md-2 pull-right">
		<button type="button" (click)="logOutUser()" class="btn btn-danger btn-block logoutButton" cursorPointer>Wyloguj</button>
	</div>
</div>
