<div class="paddingTop2">
	<div class="col-sm-12 col-md-9 pull-left marginLeft1">
		<a routerLink="../products" class="btn btn-info">Produkty</a>
		<a routerLink="../orders" class="btn btn-info">Zamówienia</a>
		<a routerLink="../postal" class="btn btn-info">Wysyłki</a>
		<a routerLink="../accounts" class="btn btn-info">Rachunki</a>
	</div>
	<div class="col-sm-12 col-md-2 pull-right marginRight1">
		<button type="button" (click)="logOutUser()" class="btn btn-danger btn-block">Wyloguj</button>
	</div>
</div>
