<div>
    <div class="col-sm-12 paddingBottom2 paddingTop2">
		<h2>Manager zamówień AD9BIS</h2>
	</div>
	<div class="col-sm-12 col-lg-3 pull-left paddingTop2">
		<h3>Wybierz zamówienie</h3>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-3 pull-left paddingTop2">
		<div *ngIf="panels[0]">
			<select [(ngModel)]="curPanel" (change)="removeFirst('panels')" [disabled]="inputDisabled" class="form-control">
				<option *ngFor="let single of panels" [ngValue]="single.id">{{single.name}}</option>
			</select>
		</div>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-3 pull-left paddingTop2">
		<input (keyup)="handleButton('order')" [(ngModel)]="orderId" [disabled]="inputDisabled" class="form-control textAlignCenter" placeholder="Podaj numer zamówienia" />
	</div>
	<div class="col-sm-12 col-md-4 col-lg-3 pull-left paddingTop2">
		<input type="button" value="Wyszukaj" class="btn btn-info" [disabled]="stopOrder" (click)="redirect('order')" />
	</div>
	<div class="col-sm-12 pull-left"></div>
	<div class="col-sm-12 col-lg-3 pull-left paddingBottom2 paddingTop2">
		<h3>Wybierz akcję</h3>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-3 pull-left paddingBottom2 paddingTop2">
		<div *ngIf="actions[0]">
			<select [(ngModel)]="curAction" (change)="removeFirst('actions')" [disabled]="inputDisabled" class="form-control">
				<option *ngFor="let single of actions" [ngValue]="single.id">{{single.name}}</option>
			</select>
		</div>
	</div>
	<div class="col-sm-12 col-md-4 col-lg-3 pull-left paddingBottom2 paddingTop2">
		<input (keyup)="handleButton('action')" [(ngModel)]="actionId" [disabled]="inputDisabled" class="form-control textAlignCenter" placeholder="Podaj numer zamówienia" />
	</div>
	<div class="col-sm-12 col-md-3 col-lg-3 pull-left paddingTop2">
		<input type="button" value="Wyszukaj" class="btn btn-info" [disabled]="stopAction" (click)="redirect('action')" />
	</div>
</div>