<div class="containerMain width100">
	<div class="col-xs-12 col-md-3 pull-left">
	</div>
	<div class="col-xs-12 col-md-6 pull-left">
	</div>
	<div class="marginTop15">
		<form (ngSubmit)="logIn()" #loginForm="ngForm">
			<div class="form-signin">    
				<h2 class="form-signin-heading">Panel CMS</h2>
				<div *ngIf="loggedIn" class="alert alert-success centered">{{result}}</div>
				<div *ngIf="loggedError" class="alert alert-danger centered">{{result}}</div>
				<input 
					type="text" 
					[(ngModel)]="login" 
					[disabled]="disabledFields" 
					class="form-control textAlignCenter" 
					placeholder="Podaj login"
					name="userLogin" 
					minlength="5" 
					required />
				<input 
					type="password" 
					[(ngModel)]="password" 
					[disabled]="disabledFields" 
					class="form-control textAlignCenter" 
					placeholder="Podaj hasło"
					name="userPassword"
					minlength="5"  
					required />      
				<label class="checkbox">
					<input 
						type="checkbox" 
						[(ngModel)]="remember" 
						[disabled]="disabledFields" 
						name="rememberPassword" 
						style="margin-top: 6px;"
					><span style="margin-left: 8px;">Pozostań zalogowany</span>
				</label>
				<button 
					[disabled]="!loginForm.valid"
					class="btn btn-lg btn-primary btn-block" 
					type="submit"
				>Zaloguj</button>  
			</div> 
		</form>
	</div>
</div>
