<div>
	<div class="col-sm-12 pull-left"></div>
	<div class="col-sm-12 col-lg-2 pull-left"></div>
	<div class="col-sm-12 col-lg-8 pull-left bgrContent borderRadius10 marginTop2 paddingTop10px">
		<div *ngIf="printingSearch" class="col-sm-12 pull-left paddingBottom20px textAlignCenter">
			<h3>Proszę czekać - wyszukiwanie dokumentów do wydruku...</h3>
			<ngx-loading [show]="printingSearch" [config]="{ backdropBorderRadius: '8px'}"></ngx-loading>
		</div>
		<div *ngIf="printingEmpty && !printingSearch" class="col-sm-12 pull-left paddingTop10px paddingBottom20px">
			<div class="pull-left">
				<h3>Obecnie brak dokumentow do wydruku.</h3>
			</div>
			<div class="col-sm-1 pull-right">
				<ng4-files-click (filesSelect)="filesUpload($event)">
					<!--<span role="button" class="btn btn-primary">Dodaj dokument</span>-->
					<span class="btn cursorPointer" ngbTooltip="Dodaj dokument"><i class="fa fa-print" aria-hidden="true"></i></span>
				</ng4-files-click>
			</div>
		</div>
		<div *ngIf="!printingEmpty && !printingSearch" class="col-sm-12 pull-left paddingBottom20px">
			<div class="col-sm-11 pull-left paddingBottom20px">
				<h3>Lista dokumentów do wydruku:</h3>
				<p *ngIf="!deliveryEmpty && deliveryList">UWAGA - przyjęcie towaru do wydruku (ilość: {{deliveryList.length}})</p>
			</div>
			<div class="col-sm-1 pull-left paddingBottom20px">
				<ng4-files-click (filesSelect)="filesUpload($event)">
					<!--<span role="button" class="btn btn-primary">Dodaj dokument</span>-->
					<span class="btn cursorPointer" ngbTooltip="Dodaj dokument"><i class="fa fa-print" aria-hidden="true"></i></span>
				</ng4-files-click>
			</div>
			<table class="table table-striped table-bordered" style="width:100%;">
				<thead>
					<th class="textAlignCenter">Lp.</th>
					<th class="textAlignCenter">Nazwa</th>
					<th class="textAlignCenter">Opis</th>
          			<th class="textAlignCenter">Data</th>
          			<th class="textAlignCenter">Akcja</th>
				</thead>
				<tbody>
					<tr *ngFor="let item of printing; let i = index" class="textAlignCenter">
						<td><h5 style="margin-top: 8px;">{{i + 1}}.</h5></td>
						<td>
							<a href="{{url}}printing/{{item.id}}/{{item.name}}" target="blank"><h5 style="margin-top: 8px;">{{item.name}}</h5></a>
            			</td> 
            			<td><h5 style="margin-top: 8px;">{{item.description}}</h5></td> 
            			<td><h5 style="margin-top: 8px;">{{item.createdTime}}</h5></td> 
						<td>
							<div class="col-sm-6 pull-left">
								<span class="btn cursorPointer" ngbTooltip="Pobierz"><a href="{{url}}printing/{{item.id}}/{{item.name}}" class="fa fa-download" download></a></span>
							</div>
							<div class="col-sm-6 pull-left">
								<span (click)="delete(item.id)" class="btn cursorPointer" ngbTooltip="Usuń dokument"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
							</div>
							<!--<button type="button" (click)="delete(item.id)" class="btn btn-danger btn-block">Usuń</button>-->
						</td> 
					</tr>
				</tbody>
			</table>
    </div>
  </div>
  <div class="col-sm-12 pull-left minHeight50"></div>
</div>