// COLORS
$color-black: #320909;
$color-blue-dark: #394960;
$color-border: #7D7474;
$color-danger: #a94442;
$color-gray: #7F7B7B;
$color-gray-light: #F5F5DC;
$color-link: #250FEE;
$color-pink-dark: #9F8D8D;
$color-pink-light: #EDDADA;
$color-selected: #7d6464;
$color-success: #3c763d;
$color-white: #fff;

// FONTS
$font-family: "Comic Sans MS", cursive, sans-serif;
$font-family-header: "Titilium Web", Georgia, serif;

// SIZES
    //percent
$percent1: 1%;
$percent2: 2%;
$percent4: 4%;
$percent5: 5%;
$percent10: 10%;
$percent100: 100%;
    //pixels
$pixels10: 10px;
$pixels20: 20px;

//OTHERS
$border: 1px solid $color-border;
$center: center;
