<div *ngIf="accountList" class="paddingTop10">
	<div class="col-sm-12 pull-left bgrContent borderRadius10 marginTop4 marginBottom30 paddingTop20px paddingBottom20px">
        <div *ngIf="loading">
			<h3>{{ accountLabel.loading }}</h3>
			<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
		</div>
        <div *ngIf="empty">
            <div class="col-sm-12 pull-left textAlignCenter">
                <h3>{{ accountLabel.noResult }}</h3>
            </div>
        </div>
        <div *ngIf="!empty && !loading">
            <div class="col-sm-12 pull-left textAlignCenter paddingBottom20px">
                <h3 *ngIf="automatic">{{ accountLabel.listAutomatic }}{{amount}}{{ labels.results }}</h3>
                <h3 *ngIf="!automatic">{{ accountLabel.listCustom }}{{amount}}{{ labels.results }}</h3>
            </div>
            <div class="paddingBottom20px">
                <table class="table table-bordered table-horizontal">
                    <thead>
                        <th>Lp.</th>
                        <th 
                            *ngFor="let item of headerList" 
                            (click)="reSort(item.value)" 
                            class="textAlignCenter" 
                            cursorPointer>
                            {{ item.name }}
                            <sort-icon [name]="item.value" [sortBy]="sortBy" [sortReverse]="sortReverse"></sort-icon>
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of accountList | orderBy: sortBy: sortReverse, let i = index" 
                            [ngClass]="{'cursorPointer': item.closed === 0}"
                            [class.activeRow]="item.id === selected" 
                            (click)="setActive(item.id)"
                        >
                            <td [ngClass]="{'colorAlertSuccess': item.closed === 0, 'colorAlertDanger': item.closed === 1}">{{i + 1}}.</td>
                            <td class="textAlignCenter">{{item.recipient}}</td>
                            <td class="textAlignCenter">{{item.address}}</td>
                            <td class="textAlignCenter">{{item.amount}}</td>
                            <td class="textAlignCenter">{{item.typeName}}</td>
                            <td class="textAlignCenter">{{item.receipt}}</td>
                            <td class="textAlignCenter">{{item.createTime}}</td>
                            <td class="textAlignCenter">{{item.cashTime}}</td>
                            <td class="textAlignCenter">{{item.locs}}</td>
                            <td class="textAlignCenter">{{item.coach}}</td>
                            <td class="textAlignCenter">{{item.element}}</td>
                            <td class="textAlignCenter">{{item.accessories}}</td>
                            <td class="textAlignCenter">{{item.book}}</td>
                            <td class="textAlignCenter">{{item.car}}</td>
                        </tr>
                        <tr>
                            <td *ngIf="total.amount !== 0" colspan="4" class="textAlignCenter">{{ accountLabel.summary }}</td>
                            <td *ngIf="total.amount !== 0" colspan="1" class="textAlignCenter">{{total.amount | number:'.2-2' }}{{ labels.currency }}</td>
                            <td *ngIf="total.amount !== 0" colspan="3" class="textAlignCenter">
                                <span *ngIf="total.amountIt !== 0">{{ accountLabel.rate17 }}{{total.amountIt | number:'.2-2' }}{{ labels.currency }}</span>
                            </td>
                            <td *ngIf="total.amount === 0" colspan="8" class="textAlignCenter">{{ accountLabel.noClosed }}</td>
                            <td class="textAlignCenter">{{total.locs}}</td>
                            <td class="textAlignCenter">{{total.coach}}</td>
                            <td class="textAlignCenter">{{total.element}}</td>
                            <td class="textAlignCenter">{{total.accessories}}</td>
                            <td class="textAlignCenter">{{total.book}}</td>
                            <td class="textAlignCenter">{{total.car}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="total.tax !== 0" class="col-sm-12 pull-left textAlignCenter paddingBottom20px">
                <h4>{{ accountLabel.tax3 }}{{total.tax | number:'.2-2' }}{{ labels.currency }}</h4>
            </div>
            <div *ngIf="total.taxIt !== 0" class="col-sm-12 pull-left textAlignCenter paddingBottom20px">
                <h4>{{ accountLabel.tax17 }}{{total.taxIt | number:'.2-2' }}{{ labels.currency }}</h4>
            </div>
        </div>
    </div>
</div>
