<div>
	<app-header 
		(logOut)="logOut()"
		[name]="self">
	</app-header>
	<div class="paddingBottom2">
		<app-message
			[messageShow]="messageShow"
			[messageType]="messageType"
			[messageValue]="messageValue"
		></app-message>
		<div class="col-sm-12 pull-left"></div>
		<div class="col-sm-12 col-md-1 col-xl-2 pull-left"></div>
		<div class="col-sm-12 col-md-9 col-xl-8 pull-left marginTop1 bgrContent borderRadius10">
			<product-header
				[category]="category"
				[children]="children"
				[idSearchInProgress]="idSearchInProgress"
				[inputDisabled]="inputDisabled"
				[manufactorer]="manufactorer"
				[searchInProgress]="searchInProgress">
			</product-header>
		</div>
		<div class="col-sm-12 col-md-2 col-xl-3 pull-left"></div>
		<div *ngIf="children" class="paddingBottom2">
			<div class="col-sm-12 pull-left"></div>
			<router-outlet></router-outlet>
		</div>
		<div *ngIf="!children && !noModified">
			<newest-order [url]="url"></newest-order>
			<modified [url]="url"></modified>
			<printing [token]="token" [url]="urlFiles"></printing>
		</div>
		<div *ngIf="!children && noModified">
			<product-list
				(deleteList)="hideList()" 
				(refreshList)="namePrepare()" 
				[emptySearch]="emptySearch" 
				[productList]="productList" 
				[url]="url" 
				[imagePath]="config.imageSuffix"
				[listLength]="listLength"
				[searchInProgress]="searchInProgress">
			 </product-list>
		</div>
	</div>
</div>
