<div class="modal-header">
    <div *ngIf="!data.error && !data.success" class="col-sm-12 pull-left">
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <div *ngIf="data.error" class="col-sm-12 pull-left">
        <div class="alert alert-danger textAlignCenter">{{message}}</div>
    </div>
    <div *ngIf="data.success" class="col-sm-12 pull-left">
        <div class="alert alert-success textAlignCenter">{{message}}</div>
    </div>
    <div class="col-sm-12 pull-left">
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div class="modal-body">
    <div class="col-sm-12 pull-left marginBottom05">
        <label class="marginTop5px">Plik: {{name}}</label>
     </div>
    <div class="col-sm-4 pull-left paddingBottom2">
        <label style="padding-top: 17px;">Opis dokumentu:</label>
    </div>
    <div class="marginTop2 col-sm-8 pull-left paddingBottom4">
        <input [(ngModel)]="data.description" (ngModelChange)="checkSave()" [disabled]="disableInput" class="form-control" placeholder="Podaj krótki opis" />
    </div>
</div>
<div class="modal-footer">
    <div class="col-sm-12 float-sm-right">
        <input type="button" value="Zapisz" class="btn btn-primary" [disabled]="!saveAllow" (click)="save()" />
        <input type="button" value="Zamknij" class="btn btn-danger" (click)="activeModal.close(false)" />
    </div>
</div> 