<div class="modal-header">
	<div class="col-sm-10 pull-left">
		<h4 class="modal-title">ID {{product.id}} - skrócona edycja:</h4>
	</div>
	<div class="col-sm-2 pull-left">
		<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>
<div class="modal-body">
	<div *ngIf="response !== undefined && response.success" class="alert alert-success" style="height: 55px;">
		<div class="col-sm-12 pull-left textAlignCenter">{{ response.reason }}</div>
	</div>
	<div *ngIf="response !== undefined && response.success === false" class="alert alert-warning" style="height: 55px;">
		<div class="col-sm-12 pull-left textAlignCenter">
  			<strong>UWAGA!</strong> {{ response.reason }}
  		</div>
	</div>
	<div class="paddingTop1">
		<div class="col-sm-2 pull-left"></div>
		<div class="col-sm-8 pull-left">
			<img [src]="product.imgPath" height="330" width="350" style="border: 1px solid; border-color: #C8C8C8; border-radius: 10px;">
		</div>
	</div>
	<div class="col-sm-12 pull-left"></div>
	<div class="marginTop2 col-sm-3 pull-left">
		<label class="marginTop5px">Nazwa:</label>
	</div>
	<div class="marginTop2 col-sm-9 pull-left">
		<input [(ngModel)]="product.name" (ngModelChange)="allowSave()" [disabled]="disable" id="name" name="name" minlength="4" class="form-control" placeholder="Podaj nazwę" />
	</div>
	<div class="marginTop2 col-sm-3 pull-left">
		<label class="marginTop5px">Ilość:</label>
	</div>
	<div class="marginTop2 col-sm-3 pull-left">
		<input [(ngModel)]="product.quantity.old" (ngModelChange)="allowSave('quantity')" [disabled]="disable" id="quantity" name="quantity" class="form-control textAlignCenter" placeholder="Podaj ilość" />
	</div>
	<div class="col-sm-12 pull-left"></div>
	<div *ngIf="product.quantity.old !== product.quantity.new" class="col-sm-12 pull-left">
		<div class="alert alert-warning marginTop2 textAlignCenter" style="margin-bottom: -0.1%;">
			<strong>UWAGA!</strong> Ilość w nowym panelu to: {{product.quantity.new}}.
		</div>
	</div>
	<div class="marginTop2 col-sm-3 pull-left">
		<label class="marginTop5px">Cena:</label>
	</div>
	<div class="marginTop2 col-sm-3 pull-left">
		<input [ngModel]="product.priceReal.old | number:'.2-2'" (ngModelChange)="updateAmount($event)" [disabled]="product.priceBlock || disable" id="price" name="price" class="form-control textAlignCenter" placeholder="Podaj cenę" />
	</div>
	<div *ngIf="product.priceReal.new !== product.priceReal.old" class="col-sm-12 pull-left">
		<div class="alert alert-warning marginTop2 textAlignCenter" style="margin-bottom: -0.1%;">
			<strong>UWAGA!</strong> Cena w nowym panelu to: {{product.priceReal.new}}zł
		</div>
	</div>
	<div *ngIf="product.priceBlock" class="col-sm-12 pull-left">
		<div class="alert alert-warning marginTop2 textAlignCenter" style="margin-bottom: -0.1%;">
			<strong>UWAGA!</strong> Ze względu na rabat<span *ngIf="product.discountValue === 2">y</span> zmiana cen poprzez pełną edycję
		</div>
	</div>
	<div class="marginTop2 col-sm-12 pull-left"></div>
</div>
<div class="col-sm-12 pull-left">
	<div class="modal-footer">
		<input type="button" value="Pełna edycja" class="btn btn-info" (click)="fullEdition('edition')" />
		<input type="button" value="Historia" class="btn btn-info" (click)="fullEdition('history')" />
		<input type="button" value="Zapisz" class="btn btn-primary" [disabled]="!saveAllow" (click)="saveBasic()" />
		<input type="button" value="Zamknij" class="btn btn-warning" (click)="activeModal.close('Close click')" />
	</div>
</div>